<h1>New path</h1>

<% form_for(@path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :layout %><br />
    <%= f.select :layout_id, @layouts.collect {|l| [l.name, l.id]} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', paths_path %>